name: Studhunt

on:
  push:
    branches: [ rk4 ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15.x

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Linter golangci
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.29
        args: "--disable-all -E errcheck"

    - name: Tests
      run: go test ./...

    - name: Build
      run: make build

    - name: Upload build result
      uses: actions/upload-artifact@v2
      with:
        name: bin
        path: ./build/*

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Download bin file
      uses: actions/download-artifact@v1
      with:
        name: bin

    - name: Configs
      run: |
        echo "$AUTH_CONFIG" > bin/auth.yaml
        echo "$DB_CONFIG" > bin/dbconfig.yaml
        echo "$VACANCY_CONFIG" > bin/vacancy.yaml
        echo "$MAIN_CONFIG" > bin/config.yaml
      shell: bash
      env:
        AUTH_CONFIG: ${{secrets.AUTH_CONFIG}}
        DB_CONFIG: ${{secrets.DB_CONFIG}}
        VACANCY_CONFIG: ${{secrets.VACANCY_CONFIG}}
        MAIN_CONFIG: ${{secrets.MAIN_CONFIG}}

    - name: Transfer bin file to server
      uses: appleboy/scp-action@v0.0.10
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        source: "bin/*"
        target: "/home/ubuntu/backend/"

    - name: chmod
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        script: |
          cd /home/ubuntu/backend/
          mv bin/* .
          chmod 755 auth
          chmod 755 vacancy
          chmod 755 app
          mkdir configs
          mv *.yaml configs/
    - name: restart service
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        script: |
          sudo systemctl restart auth.service
          sudo systemctl restart vacancy.service
          sudo systemctl restart api.service